<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create asset</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="nav-buttons">
        <a class="clickable" href="{{ url_for('home') }}">Home</a>
        <a class="clickable" href="{{ url_for('asset_list') }}">Assets List</a>
    </div>
    <form class='container' method="post" action="{{ url_for('asset_create') }}">
        {% if get_flashed_messages() %}
        <div class="alert" role="alert">
            {{ get_flashed_messages() | join(" ") }}
        </div>
        {% endif %}

        <label for="name">Asset name</label>
        <input type="text" id="name" name="name">
        <label for="value">Value</label>
        <input type="number" id="value" name="value">
        <label for="currency">Currency</label>
        <input type="text" id="currency" name="currency">
        <button type="submit">Create Asset</button>
    </form>
</body>
</html>