<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account details      </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="nav-buttons">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('user_list') }}">User List</a>
    </div>

    <h1>User Created!</h1>
    <ul>
    <li>
        <div>
            {{ user.username | safe}}
            {{ user.email | safe }}
        </div>
        <div style="display: flex; gap: 10px; padding-top: 10px">
            <form method="post" action="{{ url_for('user_detail', id=user.id) }}">
                <button type="submit">Return</button>
            </form>
            <form method="post" action="{{ url_for('user_delete', id=user.id) }}">
                <button type="submit">Delete account</button>
            </form>
        </div>
    </li>
    </ul>

</body>
</html>